* {
  box-sizing: border-box;
}

.menuwrapper {
  align-items: center;
  width: auto;
  height: auto;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
text-align: center;
}

.main-nav ul{
  display: inline-block;
}

.main-nav li{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-nav a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-family: 'Raleway';
  font-size: 20px;
  height: 75px;
  padding-top: 50px;
  padding-right: 15px;
  padding-bottom: 10px;

}

.main-nav a:hover{
  color: grey;
}


.intro h1 {
  text-align: center;
  font-family: 'Raleway';
  height: 75px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.intro p {
  text-align: center;
  font-family: 'Lora';
  font-size: 18px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;

}

.sub-nav{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.sub-nav-item{
      float: left;
      width: 33.33%;
      font-family: 'Raleway';
      font-size: 20px;
      padding: 15px;
      text-align: center;
      color: black;
      text-decoration: none;
  }

.sub-nav-item img{
  width: 100%;
}

.sub-nav a:hover{
  color: grey;
}


  div.img:hover {
      border: 1px solid #777;
  }

  div.img img {
      width: 100%;
      height: auto;
  }

  div.desc {
      padding: 15px;
      text-align: center;
}

.owl-carousel .item {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.socialmedia{
  clear: both;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.Copyright{
  font-family: 'Lora';
  font-size: 15px;
  text-align: center;
}
